SNOWFLAKE_USER=sample
SNOWFLAKE_ACCOUNT=sample
SNOWFLAKE_WAREHOUSE=sample
SNOWFLAKE_DATABASE=sample
SNOWFLAKE_SCHEMA=sample
SNOWFLAKE_ROLE=sample
SNOWFLAKE_PRIVATE_KEY_PATH=this/is/a/sample
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=sample